<main>
  <!-- space animation -->
  <ng-lottie
    class="space"
    width="100vw"
    [options]="spaceOptions"
    (animationCreated)="spaceCreated($event)"
  ></ng-lottie>
  <!-- rocket animation -->
  <ng-lottie
    class="rocket"
    height="400px"
    [options]="loaderOptions"
    (complete)="onAnimationComplete()"
  ></ng-lottie>
  <!-- counter -->
  <app-countdown
    *ngIf="showCountdown"
    [finalDate]="finalDate"
    (onCountdownDone)="onCountdownDone($event)"
  ></app-countdown>

  <!-- go button -->
  <div class="go-button" *ngIf="showButton">
    <go-button></go-button>
  </div>

</main>
